DATABASE_URL=postgresql://user:password@localhost:5432/db_finanzas_personales

BETTER_AUTH_SECRET=your-secret-key-here

PORT=3000
NODE_ENV=development
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-contrasena-de-aplicacion
SMTP_FROM="Sumly <tu-correo@gmail.com>"
ENCRYPTION_KEY=una-clave-de-al-menos-32-caracteres-para-aes-256
